API_USER=devApi@Consist.co.il
API_KEY=your department identifier
API_SECRET=your department api secret
WORKSPACE=your glassix workspace
BASE_URL= Glassix api url https://{workspace}.glassix.com/api/v1.2
PORT=port to run on defaults to 3000 if nothing is set
CONSIST_TOKEN= client token